body {
    font-family: Arial, sans-serif;
    background-color: rgb(66, 243, 66);
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.8;
    }
header {
    text-align: center;
            padding: 10px
             }

section {
    max-width: 800px;
    background: white;
    margin: 40px auto;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0,0,0,0,1);
    text-align: center;
      }

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
      
.project-card {
        background: #f9f9f9;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        transition: 0.3s ease;
      }
      
.project-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 0 20px rgba(0,0,0,0.15);
      }
      
.project-card h3 {
        margin-top: 0;
        color: rgb(145, 131, 183);
      }
      

.contact-form {
        display:flex;
        flex-direction: column;
        gap: 12px;
        max-width: 500px;
        margin: 0 auto;
      }
      
      .contact-form input,
      .contact-form textarea {
        padding: 12px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 14px;
        font-family: inherit;
      }
      
      .contact-form input:focus,
      .contact-form textarea:focus {
        outline: none;
        border-color: #4caf50;
        box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
      }
      
.contact-btn {
        display: inline-block;
        cursor: pointer;
        margin-top: 20px;
        padding: 12px 25px;
        background-color: #4caf50;
        color: white;
        text-decoration: none;
        border-radius: 30px;
        font-weight: bold;
        transition: 0.3s;
      }
.contact-btn:hover {
        background-color: #a04343;
        transform: translateY(-5px) scale(1.2);
          
      }

      .skills {
        background: #fff;
        padding: 10pxpx;
        border-radius: 50px;
        max-width: 800px;
        margin: 50px auto;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
      }
      
      .skill {
        margin-bottom: 10px;
      }
      
      .skill span {
        display: block;
        margin-bottom: 5px;
        font-weight:bolder;
      }
      
      .bar {
        width: 100%;
        height: 12px;
        background: rgb(85, 84, 84);
        border-radius: 20px;
        overflow: hidden;
      }
      
      .fill {
        height: 100%;
        width: 0;
        border-radius: 60px;
        transition: width 1.5s ease;
      }
      
      .fill.html { background: #e34c26; }
      .fill.css  { background: #264de4; }
      .fill.js   { background: #f0db4f; }
      .fill.phyton {background: #4caf50;}
          
.menu-toggle {
        display: none;
        font-size: 28px;
        color: white;
        cursor: pointer;
      }
      
@media (max-width: 700px) {
        .navbar a {
          display: none;
          display: block;
          margin: 10px 0;
        }
      
    .menu-toggle {
          display: block;
        }
      
        .navbar.active a {
          display: block;
        }
      }
            
    .fade-in {
        opacity: 0;
        transform: translateY(40px);
        transition: 1.05s ease;
      }
      
    .fade-in.show {
        opacity: 1;
        transform: translateY(0);
      }        
            
    .navbar {
    position:sticky;
    top: 0;
    background-color: rgb(55, 43, 226);
    padding: 15px;
    text-align: center;
    z-index: 1000;
    }   

    .navbar a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    }

    .navbar a:hover {
color:aqua;
}



@keyframes  fadeUp {
to {opacity: 1;
transform: translateY(0);
}
}
            
h2 {
    color: rgb(196, 15, 15);
    }

footer {
    background: #222;
    color: rgb(250, 250, 250);
    text-align: center;
padding: 10px 30px;
margin-top: 30px;
    }
    .footer-link {
        color: #000;
        margin: 0 10px;
        padding: 10px;
        text-decoration: none;
        font-size: 14px;
    }
.footer-link a{
    display: inline-block;
    color: #f10d0d;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-link a:hover {
    text-decoration: underline;
}

h1{
        color: blue;
    }
p {
       font-family: 'Times New Roman', Times, serif;
       font-size:medium;
       font-weight: 1000;
           }

@media (max-width: 800px)  {
    section {
            margin: 10px auto;
    padding: 15px;
    max-width: 400px;
    
}
h1 {font-size: 25px;}
h2 {font-size: 14px;}
}

html {
    scroll-behavior: smooth;
}         
   